.image {
  object-fit: cover;
  object-position: center;
  border-radius: 1.5rem;
  border: none;
}

.imageContainer {
  position: relative;
}

.imageContainer:hover {
  cursor: pointer;
  z-index: 10;
}

.smallImg {
  width: var(--smallCardWidth);
  height: var(--smallCardHeight);
}

.mediumImg {
  width: var(--mediumCardWidth);
  height: var(--mediumCardHeight);
}

.largeImg {
  width: var(--largeCardWidth);
  height: var(--largeCardHeight);
}
