.container {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: rgb(255, 255, 255);
}

.navigation {
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  font-size: 3rem;
  justify-content: space-between;
  min-height: 8vh;
}
